* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .hunting,
  .guns,
  .fishing,
  .ammo {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .hunting {
    background-image: url('./images/img-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .fishing {
    background-image: url('./images/Fishing-Wallpaper.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .guns {
    background-color: #dee6db;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #dee6db;
    font-size: 100px;
  }

  .ammo {
    background-image: url('./images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .all {
    padding: 10%;
    background-color: blanchedalmond;
  }