.all{
    background-color: #dee6db;
}
.container{
    padding: 40px;
    text-align: center;
    background-color: #dee6db;
}
.card-container{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    display: inline-block;
    background-color: #fff;
}
.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}
.image-container img{
    overflow: hidden;
    height: 200px;
    justify-content: center;

}
.card-content{
    margin: .5em;
    margin-top: 0.5rem;
}
h3,p{
    margin: 0;
    padding: 0;
}
.card-title{
    margin-bottom: 1rem;
    font-size: 25px;
}
.card-body{
    font-size: 18px;
}
.card-price{
    font-size: 18px;
    margin: .5rem;
}
.card-email{
    margin: .5rem;
    font-weight: bold;
}
