.card-mb-3 {
    padding: 100px;
    background-color: #dee6db;
    max-width: 100%;
}
.card-body{
    padding-left: 15px;
}
.img{
    width: 100%;
    height: auto;
}
.card-title{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 75px;
}
.card-text{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}